.TopFold {
    overflow: hidden;
    height: 92vh;
    width: 100%;
}

.tf-left {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-right: 48px;
}

.tf-heading {
    font-size: 72px;
    font-weight: 600;
    line-height: 72px;
}

.tf-description {
    font-size: 20px;
    margin: 24px 0px;

}

.tf-left-btn {
    margin-top: 36px;
    display: flex;
}

.tf-left-secondary-btn {
    margin-left: 36px;
}

.tf-left-inforStats {
    display: flex;
    padding: 48px 0px 0px;
}

.tf-is-inforItem {
    margin-right: 24px;
    flex-direction: column;
}

.tf-inforItem-Count {
    font-size: 36px;
    font-weight: 600;

}

.tf-inforItem-label {
    font-size: 14px;
    font-weight: 600;
}

.tf-right {
    display: flex;
    flex: 1;
    position: relative;
}

.tf-right-diamond {
    display: flex;
    flex-wrap: wrap;
    transform: rotate(45deg);
    margin-top: 40px;
}

.tf-right-diamond-item {
    height: 260px;
    width: 240px;
    
    overflow: hidden;
    transform: rotate(-45deg);
    border: 2px solid white;
    border-radius: 10px;
   
}

.image-right {

    height: 400px;
    object-fit: contain;
    display: block;
    width: 280px;
}
.top_rgb_right_1{
    height: 550px;
    width: 550px;
    background-color: rgba(143, 0, 255, 0.65);
    filter: blur(160.58px);
    position: absolute;
    z-index: -99;
    left: 10%;
    top: 10%;
    transform: translate(-20%);
}